@import url("https://fonts.googleapis.com/css?family=Baloo|Raleway");
/* line 1, ../sass/partials/_navigation.scss */
input::-webkit-input-placeholder {
  color: #303036;
  opacity: 0.4;
}

/* line 6, ../sass/partials/_navigation.scss */
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

/* line 10, ../sass/partials/_navigation.scss */
input:-moz-placeholder {
  color: #303036;
  opacity: 0.4;
}

/* line 15, ../sass/partials/_navigation.scss */
input:focus:-moz-placeholder {
  opacity: 1;
}

/* line 19, ../sass/partials/_navigation.scss */
input::-moz-placeholder {
  color: #303036;
  opacity: 0.4;
}

/* line 24, ../sass/partials/_navigation.scss */
input:focus::-moz-placeholder {
  opacity: 1;
}

/* line 28, ../sass/partials/_navigation.scss */
input:-ms-input-placeholder {
  color: #303036;
  opacity: 0.4;
}

/* line 33, ../sass/partials/_navigation.scss */
input:focus:-ms-input-placeholder {
  opacity: 1;
}

/* line 37, ../sass/partials/_navigation.scss */
button,
input,
textarea {
  outline: none;
}

/* line 43, ../sass/partials/_navigation.scss */
body {
  background-color: #e2e2e2;
  margin: 70px auto 0;
  padding-bottom: 150px;
  text-align: center;
}

/* line 50, ../sass/partials/_navigation.scss */
nav {
  background-color: #303036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: ubuntu;
  font-weight: 300;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* line 61, ../sass/partials/_navigation.scss */
nav ul {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 69, ../sass/partials/_navigation.scss */
nav li:nth-child(2):hover {
  color: #3498db;
}
/* line 73, ../sass/partials/_navigation.scss */
nav li {
  float: left;
  line-height: 70px;
  color: #e2e2e2;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 79, ../sass/partials/_navigation.scss */
nav li a {
  color: inherit;
  padding: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
/* line 87, ../sass/partials/_navigation.scss */
nav li a::after {
  opacity: 0;
  width: 100%;
}
/* line 92, ../sass/partials/_navigation.scss */
nav li#home {
  -ms-flex-line-pack: center;
      align-content: center;
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  margin: 0 16px 0 17px;
  overflow: hidden;
  position: relative;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 100%;
}
/* line 104, ../sass/partials/_navigation.scss */
nav li#home:hover {
  width: 56px;
}
/* line 108, ../sass/partials/_navigation.scss */
nav li img {
  height: auto;
  opacity: 1;
  margin: auto;
  width: 50px;
}
/* line 116, ../sass/partials/_navigation.scss */
li nav#home,
nav li a::after {
  background-color: transparent;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  width: 100%;
}
/* line 130, ../sass/partials/_navigation.scss */
li nav#home:hover::after,
nav li a:hover::after {
  opacity: 1;
}
/* line 135, ../sass/partials/_navigation.scss */
nav li span {
  color: #3498db;
  font-family: 'Baloo', cursive;
  font-size: 28px;
  height: 28px;
  line-height: 28px;
  margin: auto auto auto 16px;
}
/* line 143, ../sass/partials/_navigation.scss */
nav li span span {
  color: #e2e2e2;
  margin: auto;
}

/* line 6, ../sass/partials/_tooltip.scss */
.tooltip-target {
  position: relative;
}
/* line 9, ../sass/partials/_tooltip.scss */
.tooltip-target:hover .tooltip {
  display: inline-block;
  opacity: 1;
}
/* line 13, ../sass/partials/_tooltip.scss */
.tooltip-target:hover .tooltip .fadein {
  opacity: 1;
}
/* line 17, ../sass/partials/_tooltip.scss */
.tooltip-target:hover .tooltip .drop {
  margin-top: 0;
}

/* line 23, ../sass/partials/_tooltip.scss */
.tooltip {
  background-color: #303036;
  border: 1px solid #ccc;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: justify;
  text-transform: full-width;
  width: 200px;
  z-index: 999;
}
/* line 34, ../sass/partials/_tooltip.scss */
.tooltip .dark {
  background-color: #303036;
  border: 0;
  color: #e2e2e2;
}

/* line 42, ../sass/partials/_tooltip.scss */
.above {
  bottom: 250%;
  left: -103px;
}

/* line 48, ../sass/partials/_tooltip.scss */
.below {
  left: 0;
  top: 100%;
}

/* line 54, ../sass/partials/_tooltip.scss */
.right {
  left: 100%;
  top: 0;
}

/* line 60, ../sass/partials/_tooltip.scss */
.left {
  right: 100%;
  top: 0;
}

/* line 66, ../sass/partials/_tooltip.scss */
.arrow-bottom::after,
.arrow-bottom::before,
.arrow-left::after,
.arrow-left::before,
.arrow-right::after,
.arrow-right::before,
.arrow-top::after,
.arrow-top::before {
  border: solid transparent;
  content: ' ';
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

/* line 82, ../sass/partials/_tooltip.scss */
.arrow-bottom::after,
.arrow-left::after,
.arrow-right::after,
.arrow-top::after {
  border-color: transparent;
  border-width: 8px;
}

/* line 90, ../sass/partials/_tooltip.scss */
.arrow-bottom::before,
.arrow-left::before,
.arrow-right::before,
.arrow-top::before {
  border-color: transparent;
  border-width: 10px;
}

/* line 99, ../sass/partials/_tooltip.scss */
.arrow-right::after,
.arrow-right::before {
  left: 100%;
  top: 50%;
}

/* line 105, ../sass/partials/_tooltip.scss */
.arrow-right::after {
  border-left-color: #fff;
  margin-top: -8px;
}

/* line 110, ../sass/partials/_tooltip.scss */
.arrow-right::before {
  border-left-color: #ccc;
  margin-top: -10px;
}

/* line 115, ../sass/partials/_tooltip.scss */
.dark.arrow-right::after {
  border-left-color: #444;
}

/* line 119, ../sass/partials/_tooltip.scss */
.dark.arrow-right::before {
  border-left-color: transparent;
}

/* line 124, ../sass/partials/_tooltip.scss */
.arrow-left::after,
.arrow-left::before {
  right: 100%;
  top: 50%;
}

/* line 130, ../sass/partials/_tooltip.scss */
.arrow-left::after {
  border-right-color: #fff;
  margin-top: -8px;
}

/* line 135, ../sass/partials/_tooltip.scss */
.arrow-left::before {
  border-right-color: #ccc;
  margin-top: -10px;
}

/* line 140, ../sass/partials/_tooltip.scss */
.dark.arrow-left::after {
  border-right-color: #444;
}

/* line 144, ../sass/partials/_tooltip.scss */
.dark.arrow-left::before {
  border-right-color: transparent;
}

/* line 149, ../sass/partials/_tooltip.scss */
.arrow-bottom::after,
.arrow-bottom::before {
  left: 50%;
  top: 100%;
}

/* line 155, ../sass/partials/_tooltip.scss */
.arrow-bottom::after {
  border-top-color: #fff;
  margin-left: -8px;
}

/* line 160, ../sass/partials/_tooltip.scss */
.arrow-bottom::before {
  border-top-color: #ccc;
  margin-left: -10px;
}

/* line 165, ../sass/partials/_tooltip.scss */
.dark.arrow-bottom::after {
  border-top-color: #303036;
}

/* line 169, ../sass/partials/_tooltip.scss */
.dark.arrow-bottom::before {
  border-top-color: transparent;
}

/* line 174, ../sass/partials/_tooltip.scss */
.arrow-top::after,
.arrow-top::before {
  bottom: 100%;
  left: 50%;
}

/* line 180, ../sass/partials/_tooltip.scss */
.arrow-top::after {
  border-bottom-color: #fff;
  margin-left: -8px;
}

/* line 185, ../sass/partials/_tooltip.scss */
.arrow-top::before {
  border-bottom-color: #ccc;
  margin-left: -10px;
}

/* line 190, ../sass/partials/_tooltip.scss */
.dark.arrow-top::after {
  border-bottom-color: #444;
}

/* line 194, ../sass/partials/_tooltip.scss */
.dark.arrow-top::before {
  border-bottom-color: transparent;
}

/* line 198, ../sass/partials/_tooltip.scss */
img.tooltip-thumb {
  border: 1px solid #ccc;
  float: left;
  margin: 5px;
  max-height: 64px;
  max-width: 64px21;
}

/* line 206, ../sass/partials/_tooltip.scss */
.dark img.tooltip-thumb {
  border: 1px solid #fff;
}

/* line 210, ../sass/partials/_tooltip.scss */
.flat-tooltip {
  padding: 5px;
}

/* line 214, ../sass/partials/_tooltip.scss */
.glossy {
  box-shadow: inset 0 -1.2em 10px rgba(0, 0, 0, 0.1);
}

/* line 218, ../sass/partials/_tooltip.scss */
.dark.glossy {
  box-shadow: inset 0 2em 10px rgba(255, 255, 255, 0.2);
}

/* line 223, ../sass/partials/_tooltip.scss */
.flat-rounded-tooltip {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

/* line 1, ../sass/partials/_animations.scss */
.fadein {
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

/* line 5, ../sass/partials/_animations.scss */
.drop {
  margin-top: -100%;
  -webkit-transition: margin 0.8s ease;
  transition: margin 0.8s ease;
}

/* line 7, ../sass/about.scss */
#intro-header {
  color: #3498db;
  font-family: 'Baloo', cursive;
  font-size: 5em;
  margin-top: 100px;
}
/* line 13, ../sass/about.scss */
#intro-header span {
  color: #303036;
  margin: auto;
}

/* line 19, ../sass/about.scss */
#intro-text {
  color: #3498db;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 25px auto auto;
  width: 85%;
}

/* line 28, ../sass/about.scss */
#video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Baloo', cursive;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 85%;
}

/* line 37, ../sass/about.scss */
#gates-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
/* line 43, ../sass/about.scss */
#gates-wrapper #quote {
  font-size: 20px;
  margin-left: 50px;
  text-align: left;
}
/* line 49, ../sass/about.scss */
#gates-wrapper #gates {
  color: #7ac458;
  font-size: 26px;
  margin-top: 60px;
  text-align: right;
}

/* line 57, ../sass/about.scss */
#potential {
  color: #3498db;
  font-family: 'Baloo', cursive;
  font-size: 2.5em;
  margin-top: 100px;
}

/* line 64, ../sass/about.scss */
#stats-wrap {
  background-color: #303036;
  margin: 100px auto 0;
  padding: 50px;
  width: 85%;
}
/* line 70, ../sass/about.scss */
#stats-wrap p {
  color: #e2e2e2;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
  padding: 0 0 50px;
  width: 85%;
}
/* line 79, ../sass/about.scss */
#stats-wrap p span {
  color: #7ac458;
  font-weight: bold;
}
/* line 84, ../sass/about.scss */
#stats-wrap p span#percent {
  color: #3498db;
}
/* line 89, ../sass/about.scss */
#stats-wrap #img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* line 94, ../sass/about.scss */
#stats-wrap img {
  height: 400px;
}

/* line 99, ../sass/about.scss */
#robo {
  color: #3498db;
  font-family: 'Baloo', cursive;
  font-size: 2.5em;
  margin-top: 100px;
}

/* line 106, ../sass/about.scss */
#eq-text-above,
#eq-text-below {
  color: #303036;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
  width: 50%;
}

/* line 116, ../sass/about.scss */
#eq-text-above {
  margin-bottom: 25px;
}

/* line 120, ../sass/about.scss */
#eq-text-below {
  margin-top: 25px;
}

/* line 124, ../sass/about.scss */
#list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  width: 85%;
}
/* line 131, ../sass/about.scss */
#list-wrap ul {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.3;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
}
