@import 'partials/colors';
@import url("https://fonts.googleapis.com/css?family=Baloo|Raleway");
@import 'partials/navigation';
@import 'partials/tooltip';
@import 'partials/animations';

#intro-header {
  color: $bleudefrance;
  font-family: 'Baloo', cursive;
  font-size: 5em;
  margin-top: 100px;

  span {
    color: $jet;
    margin: auto;
  }
}

#intro-text {
  color: $bleudefrance;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 25px auto auto;
  width: 85%;
}

#first-step {
  h3 {
    color: $jet;
    font-family: 'Baloo', cursive;
    font-size: 1.5em;
    margin: 50px auto auto;
    text-align: left;
    width: 85%;

    span {
      color: $mantis;
    }
  }
}

#employee-add {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 $box-shadow;
  margin: 15px auto auto;
  min-height: 93px;
  position: relative;
  width: 85%;
}

#step1form,
#step3form {
  align-content: center;
  border-bottom: 1px solid $platinum;
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

  input {
    border: 0;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    width: calc(100%/4);
  }

  input:first-child,
  input:nth-child(2) {
    border-right: 1px solid $platinum;
  }

  input:last-child {
    border-left: 1px solid $platinum;
  }
}

.add-header {
  align-content: center;
  background-color: $jet;
  border-bottom: 1px solid $platinum;
  color: $bleudefrance;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    font-size: 16px;
    padding: 8px 0;
    width: calc(100%/4);
  }

  li:first-child,
  li:nth-child(2) {
    border-right: 1px solid $platinum;
  }

  li:last-child {
    border-left: 1px solid $platinum;
  }

  li a {
    color: $platinum;
    font-size: 12px;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.1s linear;
  }

  li a:hover {
    opacity: 1;
  }

  li span {
    border: 0;
    color: $platinum;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
  }
}

#second-step,
#third-step {
  h3 {
    color: $jet;
    display: none;
    font-family: 'Baloo', cursive;
    font-size: 1.5em;
    margin: 50px auto auto;
    text-align: left;
    width: 85%;

    span {
      color: $mantis;
    }
  }
}

#step2form {
  align-content: center;
  border-bottom: 1px solid $platinum;
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;

  input {
    border: 0;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    width: calc(100%/3);
  }

  input:nth-child(2) {
    border-left: 1px solid $platinum;
    border-right: 1px solid $platinum;
  }
}

#new-emp-add {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 $box-shadow;
  display: none;
  margin: 15px auto auto;
  min-height: 93px;
  position: relative;
  width: 85%;

  #new-emp-add-header {
    align-content: center;
    background-color: $jet;
    border-bottom: 1px solid $platinum;
    color: $bleudefrance;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      font-size: 16px;
      padding: 8px 0;
      width: calc(100%/3);
    }

    li:nth-child(2) {
      border-left: 1px solid $platinum;
      border-right: 1px solid $platinum;
    }

    li a {
      color: $platinum;
      font-size: 12px;
      opacity: 0.7;
      text-decoration: none;
      transition: all 0.1s linear;
    }

    li a:hover {
      opacity: 1;
    }

    li span {
      border: 0;
      color: $platinum;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
    }
  }
}

#automation-add {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 $box-shadow;
  display: none;
  margin: 15px auto auto;
  min-height: 93px;
  position: relative;
  width: 85%;
}

#submit-step {
  display: none;
  margin: 25px auto auto;
  text-align: left;
  width: 85%;

  #submit {
    background-color: $mantis;
    border: 0;
    color: $white;
    cursor: pointer;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
    height: 50px;
    width: 150px;
  }
}
