<!DOCTYPE html>
<html lang="en">

  <head>
    <title>RoboTax</title>

    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/index.css') }}">

  </head>

  <body>

    <nav>
      <ul>
        <li id="home"><img class="icon" src="{{ url_for('static', filename='images/logo.svg') }}" alt="RoboTax Logo">
          <span>Robo<span>Tax</span>
          </span>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>

    <h1 id="intro-header">
      Robo<span>Tax</span>
    </h1>

    <p id="intro-text">Fill in the fields below to calculate the required yearly tax on an automated system in order to ensure that the government income tax does not drop when a company changes to an automated system.
    </p>

    <section id="first-step">
      <h3>
        <span>1.</span>
        Employees to be Replaced
      </h3>

      <div id="employee-add">
        <ul class="add-header">
          <li># of Employees</li>
          <li>Average Tax
            <a class="tooltip-target" href="#tax-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Tax cost per employee per year.</span>
            </a>
          </li>
          <li>Salary
            <a class="tooltip-target" href="#wage-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">The amount the employee makes annually.</span>
            </a>
          </li>
          <li>Productivity
            <a class="tooltip-target" href="#prod-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Units produced per day.</span>
            </a>
          </li>
        </ul>
        <form id="step1form">
          <input type="text" name="numberOfEmployees" id="num-emp" class="" placeholder="# Employee" required><input type="text" name="averageTax" id="avg-tax" class="" placeholder="Average Tax" required><input type="text" name="wage" id="wage" class="" placeholder="Salary" required><input type="text" name="productivity" id="num-emp" class="" placeholder="Productivity" required>
        </form>
      </div>
    </section>

    <section id="second-step">
      <h3>
        <span>2.</span>
        New Hires
      </h3>

      <div id="new-emp-add">
        <ul id="new-emp-add-header">
          <li># of Employees</li>
          <li>Average Tax
            <a class="tooltip-target" href="#tax-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Tax cost per employee per year.</span>
            </a>
          </li>
          <li>Salary
            <a class="tooltip-target" href="#wage-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">The amount the employee makes annually.</span>
            </a>
          </li>
        </ul>
        <form id="step2form">
          <input type="text" name="numberOfEmployees" id="num-emp" class="" placeholder="# Employee" required><input type="text" name="averageTax" id="avg-tax" class="" placeholder="Average Tax" required><input type="text" name="wage" id="wage" class="" placeholder="Salary" required>
        </form>
      </div>
    </section>

    <section id="third-step">
      <h3>
        <span>3.</span>
        Automations
      </h3>

      <div id="automation-add">
        <ul class="add-header">
          <li># of Automations</li>
          <li>Cost
            <a class="tooltip-target" href="#cost-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Initial cost of the machine.</span>
            </a>
          </li>
          <li>Productivity
            <a class="tooltip-target" href="#prod-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Units produced per day.</span>
            </a>
          </li>
          <li>Life Span
            <a class="tooltip-target" href="#life-faq">?<span class="tooltip fadein above flat-tooltip dark arrow-bottom">Life Expectancy of Automation.</span>
            </a>
          </li>
        </ul>
        <form id="step3form">
          <input type="text" name="numberOfAutomations" id="num-auto" class="" placeholder="# Automations" required><input type="text" name="cost" id="cost" class="" placeholder="Cost" required><input type="text" name="productivity" id="productivity" class="" placeholder="Productivity" required><input type="text" name="lifeSpan" id="lifeSpan" class="" placeholder="Life Span" required>
        </form>
      </div>
    </section>

    <section id="submit-step">
      <button id="submit">Calculate</button>
    </section>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='javascripts/index.js') }}"></script>
  </body>

</html>
